.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
}

.description {
  font-size: 1.5rem;
}

.card {
  padding: 1rem;
  margin: 0 0 1.4rem 0;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  width: 95%;
  max-width: 800px;
}
.card_title_box {
  display: flex;
  align-items: center;
}
.card_title_icon {
  width: 1.6rem;
  height: 1.6rem;
}

.card_title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #24292f;
  margin: 0 0 0 0.5rem;
}

.card_description {
  color: #57606a;
}

.card_date {
  font-size: 0.9rem;
  color: rgb(153, 153, 153);
}
